{% extends 'partials/base.html.twig' %}

{% if admin.route %}
    {% set context = admin.page(true) %}
{% endif %}

{% block titlebar %}
    <h1><i class="fa fa-fw fa-chain-broken"></i> {{ "PLUGIN_BLC.ADMIN.TITLE"|tu }}</h1>
{% endblock %}

{% block content %}
    <style>
        .broken-links-page {
            border-bottom: 2px dotted #349886;;
            padding-left: 2em;
        }
        .broken-links-page ul li {
            color: #111;
        }
        .broken-links-page ul {

            margin-top: 1rem;
            margin-bottom: 0 !important;
        }
        div.broken-links-page:last-child {
            border-bottom: none;
        }
        .broken-links-page a h2 {
            margin: 0 !important;
        }

    </style>
    {%  set heading = "PLUGIN_BLC.PAGE.HEADING"|t ~ grav.twig.blc_inspection|camelize %}

    <h1>{{ heading }}</h1>
    {% set broken_links = grav.twig.blc_links %}
    {% for page,links in broken_links %}

    <div class="broken-links-page">
    {# Fake a Run Report button #}
        {% if page != 'Run Report' %}
        <a href="{{ 'pages' ~ page }}" target="_blank"><h2>{{ page }}</h2></a>
    {% else %}
        <a href="broken-links" class="button"><h2>{{ page }}</h2></a>
    {% endif %}

        <ul>
        {% for link in links|first %}
            {{ dump(link) }}
            {% set striping = cycle(["even", "odd"], loop.index) %}
            <li class="{{ striping }}">
                {{ link }}
            </li>
        {% endfor %}
        </ul>

    </div>
    {% endfor %}
{% endblock %}